.toggle-section {
  display: flex;
  justify-content: right;
}

.toggle-btn {
  margin-right: 25px;
}

/* Adapting Styles */

@media (max-width: 700px) {
  .toggle-section {
    justify-content: center;
  }
  .toggle-btn {
    margin-right: 0px;
  }
}
