.carousel-div {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;

  min-height: 250px;
  background: var(--card-bg);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  backdrop-filter: var(--card-blur);
}